{{- if (eq (include "document-engine.storage.cleanupJob.enabled" . ) "true" ) }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "document-engine.fullname" . }}-db-cleanup
  labels:
    {{- include "document-engine.labels" . | nindent 4 }}
data:
  {{- with .Values.assetStorage.cleanupJob }}
  cleanup.sql: |
    DELETE FROM asset_blobs 
    WHERE asset_blobs.sha256 in (
      SELECT (source_pdf->>'sha256')::bytea 
      FROM documents 
      WHERE
        {{- if .persistentLike }}
        documents.id NOT LIKE '{{ .persistentLike }}' AND  
        {{- end }}
        documents.created_at < NOW() - INTERVAL '{{ .keepHours }} hours'
    );

    DELETE FROM documents 
    WHERE
      {{- if .persistentLike }}
      documents.id NOT LIKE '{{ .persistentLike }}' AND  
      {{- end }}
      documents.created_at < NOW() - INTERVAL '{{ .keepHours }} hours'
    ;
  {{- end }}

# Can be used for hash updating
  VERSION: {{ include "document-engine.chart" . | quote }}
{{- end }}


