apiVersion: v2
name: document-engine
type: application
description: Document Engine is a backend software for processing documents and powering automation workflows.
home: https://www.nutrient.io/sdk/document-engine
icon: https://cdn.prod.website-files.com/65fdb7696055f07a05048833/66e58e33c3880ff24aa34027_nutrient-logo.png
version: 7.5.0
appVersion: "1.13.0"

keywords:
  - nutrient
  - document-engine

maintainers:
  - name: Nutrient
    email: support@nutrient.io
    url: https://www.nutrient.io
