{{- if and .Values.database.enabled 
           .Values.documentLifecycle.bulkDocumentDeletionEnabled
           .Values.documentLifecycle.expirationJob.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "document-engine.fullname" . }}-expire
  labels:
    {{- include "document-engine.labels" . | nindent 4 }}
data:
  {{- with .Values.documentLifecycle.expirationJob }}
  {{- $urlDelete := printf "http://%s:%s/api/async/delete_documents" ( include "document-engine.fullname" $ ) ( toString $.Values.service.port ) }}
  {{- $urlStatus := printf "http://%s:%s/api/async/jobs" ( include "document-engine.fullname" $ ) ( toString $.Values.service.port ) }}
  run.sh: |
    #!/bin/bash
    set -e

    export AUTH_HEADER="Authorization: Token token=${API_AUTH_TOKEN}"
    export PRESERVATION_DATE=$(date -u +"%Y-%m-%dT%H:%M:%SZ" -d @$(($(date -u +"%s") - {{ .keepHours }} * 3600)))
    
    {{- if .deletionPrefix }}
    export REQUEST_DATA='{"document_id_prefix": "{{ .deletionPrefix }}", "created_before": "'"${PRESERVATION_DATE}"'"}'
    echo "Deleting documents with prefix '{{ .deletionPrefix }}' created before ${PRESERVATION_DATE}"
    {{- else }}
    export REQUEST_DATA='{"created_before": "'"${PRESERVATION_DATE}"'"}'
    echo "Deleting documents created before ${PRESERVATION_DATE}"
    {{- end }}

    export JOB_ID=$(curl -sS --request POST \
                         --header "${AUTH_HEADER}" \
                         --header "Content-Type: application/json" \
                         --url "{{ $urlDelete }}" \
                         --data "${REQUEST_DATA}" \
                    | jq -r .data.jobId)

    echo "Job ID: ${JOB_ID}"
    sleep 1

    echo "Polling job status every 10 seconds..."
    while true; do
      STATUS=$(curl -sS --header "${AUTH_HEADER}" \
                        --url "{{ $urlStatus }}/${JOB_ID}" \
                   | jq -r '.data.status // "error"')

      echo "[$(date -u +"%Y-%m-%d %H:%M:%S")] Current job status: \"${STATUS}\""

      if [ "${STATUS}" != "not_started" ] && [ "${STATUS}" != "in_progress" ]; then
        echo "Job finished with status: \"${STATUS}\""
        break
      fi

      sleep 10
    done

  {{- end }}
{{- end }}
